<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="stylesheets/style.css" rel="stylesheet">
<link href="stylesheets/painel-style/style.css" rel="stylesheet">
<script src="javascripts/axios.js"></script>
<script src="javascripts/requestPage.js"></script>


<div class="painel-primary">

    <div class="painel-calc">
        <div class="hader-logo">
            <img src="images/1280px-PayPal.svg.png">
        </div>
        <div class="content-input-value">
            <input onkeyup="handleInputValue(event)" type="text" maxlength="9" placeholder="R$0,00" pattern="[0-9]+$"/>
        </div>
        <div class="display-buttom">
            <button>Confirmar</button>
        </div>
        <div class="display-pay-pal">
<!--            <iframe src="https://www.sandbox.paypal.com/checkoutnow?token=51055589C9161644S"></iframe>-->
        </div>
    </div>

</div>