<link href="stylesheets/style.css" rel="stylesheet">
<link href="stylesheets/painel-style/style.css" rel="stylesheet">

<div class="painel-primary">


    <div class="painel-list">
        <ul class="lista-produtos">
            <li>
                <p>Produto 1</p>
            </li>
            <li>
                <p>Produto 1</p>
            </li>
            <li>
                <p>Produto 1</p>
            </li>
            <li>
                <p>Produto 1</p>
            </li>
        </ul>
    </div>


    <div class="painel-calc">
        <h1>calculos</h1>
    </div>

</div>