.painel-primary {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.painel-calc {
    width: 25%;
    background: white;
    -webkit-box-shadow: 10px 7px 19px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 7px 19px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 7px 19px -16px rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 10px;
}

.hader-logo {
    margin: auto;
    width: 70%;
}

.hader-logo img {
    width: 100%;
}


.content-input-value input {
    border: 2px solid #F5F5F5;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: #203881;
    text-align: center;
}

.content-input-value input:hover {
    border-color: #203881;
}

.content-input-value input::placeholder {
    color: #e5e5e5;
}
